<footer class="section-text-white footer footer-links bg-darken">
    <div class="footer-body container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <a class="footer-logo" href="./">
                    <span class="logo-element">
                        <span class="logo-tape">
                            <span class="svg-content svg-fill-theme" data-svg="./~/public/images/svg/logo-part.svg"></span>
                        </span>
                        <span class="logo-text text-uppercase">
                            <img src="~/Public/images/parts/logo2.png" />
                           
                        </span>
                    </span>
                </a>
                <div class="footer-content">
                    <p class="footer-text">         
                        King Cinema được thành lập vào 01/05/2021, nhằm phục vụ nhu cầu về giải trí cho người xem. King Cinema đảm bảo sẽ mang lại trải nghiệm tốt nhất cho người xem
                    </p>
                    <p class="footer-text">Liên hệ:&nbsp;&nbsp;0961415774</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="footer-title text-uppercase">Hệ thống rạp</h5>
                <ul class="list-unstyled list-wide footer-content">
                    <li>
                        <a class="content-link" href="#">King Cinema Thủ Đức</a>
                    </li>
                    <li>
                        <a class="content-link" href="#">King Cinema Điện Biên Phủ</a>
                    </li>
                    <li>
                        <a class="content-link" href="#">King Cinema Đà Nẵng</a>
                    </li>

                    <li>
                        <a class="content-link" href="#">King Cinema Hà Nội</a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="footer-title text-uppercase">Thông tin</h5>
                <ul class="list-unstyled list-wide footer-content">
                    <li>
                        <a class="content-link" href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a class="content-link" href="#">Tin tức</a>
                    </li>
                    <li>
                        <a class="content-link" href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a class="content-link" href="#">Hỏi và đáp</a>
                    </li>
                  
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="footer-title text-uppercase">Theo dõi chúng tôi</h5>
                <ul class="list-wide footer-content list-inline">
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-slack-hash"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-dribbble"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="content-link" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                @*<h5 class="footer-title text-uppercase">Subscribe</h5>
                <div class="footer-content">
                    <p class="footer-text">Để lại Email để nhận phim mới từ chúng tôi.</p>
                    <form class="footer-form" autocomplete="off">
                        <div class="input-group">
                            <input class="form-control" name="email" type="email" placeholder="Email của bạn" />
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="submit"><i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>*@
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">Copyright 2021 &copy;. All rights reserved.</div>
    </div>
</footer>