@model IEnumerable<Webanvexemphim.Models.menu>
@{
    var mainmenuitem = ViewBag.mainmenuitem;

}
<li class="menu-item ">
    <a class="nav-link" href="~/@mainmenuitem.link">@mainmenuitem.name</a>
</li>
