
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 150px; color:black; font-weight:1000">Đặt vé thất bại </h2>
 <h2 style=" color:black; font-weight:1000">Xin quý khách vui lòng thử lại</h2>

