<div class="col-md-2" style="height: 800px; background: repeating-linear-gradient( #5a44e9, #9ecaf3)">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="post" class="py-2 border-bottom row "><a style="color: white" class="pl-3 " href="~/Admin/MoviesAD"> Quản lý phim</a></li>
        <li id="post" class="py-2 border-bottom row "><a style="color: white" class="pl-3 " href="~/Admin/Post"> Bài viết</a></li>
        @*<li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Topic"> Chủ đề bài viết</a></li>*@
        <li id="post" class="py-2 border-bottom row "><a style="color: white" class="pl-3 " href="~/Admin/Orders"> Đơn đặt vé</a></li>
        <li id="post" class="py-2 border-bottom row "><a style="color: white" class="pl-3 " href="~/Admin/User"> Quản lý admin</a></li>

    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

