
<section class="container-fluid ">
    <div class="row">
        <!-- Image and text -->
        <nav class="navbar navbar-light py-0  w-100 border-bottom " style="background: linear-gradient(to right, #281f64, #ac25b6); height: 5rem; ">
            <a class="navbar-brand text-white font-weight-bold" href="~/Admin"><img style="height: 5rem" src="~/Public/images/parts/logo2.png"</a>
            <ul class="list-unstyled m-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" style="position: absolute;top: 40px;left: -90px;" aria-labelledby="navbarDropdown">
                        @*@Html.Action("CallSessionForLayout", "Dashboard");*@
                        <a class="dropdown-item" href="~/Admin/auth/Logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>

                </li>
            </ul>
        </nav>
    </div>
</section>
