<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>KING CINEMA</title>
    <!-- Bootstrap -->
    <link href="~/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Animate.css -->
    <link href="~/public/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome iconic font -->
    <link href="~/public/fontawesome/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <!-- Magnific Popup -->
    <link href="~/public/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <!-- Slick carousel -->
    <link href="~/public/slick/slick.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Theme styles -->
    <link href="~/public/css/dot-icons.css" rel="stylesheet" type="text/css">
    <link href="~/public/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
  
  @RenderBody()
    <!-- jQuery library -->
    <script src="~/public/js/jquery-3.3.1.js"></script>
    <!-- Bootstrap -->
    <script src="~/public/bootstrap/js/bootstrap.js"></script>
    <!-- Paralax.js -->
    <script src="~/public/parallax.js/parallax.js"></script>
    <!-- Waypoints -->
    <script src="~/public/waypoints/jquery.waypoints.min.js"></script>
    <!-- Slick carousel -->
    <script src="~/public/slick/slick.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/public/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Inits product scripts -->
    <script src="~/public/js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4Qy67ZAILavdLyYV2ZwlShd0VAqzRXA&callback=initMap"></script>
    <script async defer src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"></script>
</body>
</html>